name: Build and Delivery

on:
  workflow_run:
    types:
      - completed
    workflows:
      - Test Python App
    branches:
      - main

jobs:
  cd:
   if: ${{ github.event.workflow_run.conclusion == 'success' }}
   runs-on: ubuntu-lastest

   steps:
     - name: Login to Docker Hub
       uses: docker/login-action@v3
       with:
         username: ${{ vars.DOCKERHUB_USERNAME  }}
         password: ${{ secrets.D0CKERHUB_TOKEN }}

     - name: Build and Push Docker Image
       uses: docker/build-push-action@v6
       with:
         push: true
         tags: ${{ vars.DOCKERHUB_USERNAME }}/devops-lab5:latest
